{
    "parser": "babel-eslint",
    "rules":{
      "linebreak-style": ["error", "windows"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "sourceType": "module",
      "allowImportExportEverywhere": true
    },
    "extends": "airbnb"
  }