.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer
}
.btn--small {
    display: inline-block;
    padding: 10px;

}
.btn--big {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 600;
    width: 416px;
}
.btn--success:hover {
    background-color: rgb(48, 148, 28);
}
.btn--success {
    background-color: rgb(59, 180, 35);
    color: white;

}

.btn--danger {
    background-color: #dc3545!important;
    color: white;
}
.btn--danger:hover {
    background: #c82333!important;
}
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    width: 100%;
    /* border-radius: .3rem; */
}

.btn--info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn--info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn--secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn--secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.no-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}