.board {
	max-width: 409px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 50px);
	grid-gap: 1px;
	background: #fafafa;

}

.board__row {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	  grid-column-gap: 0px;

}
body {
	background: #343a40
}