.board {
	position: relative;
	width: 416px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 50px);
	grid-gap: 0px 2px;
	border: 1px solid #fafafa;
	box-shadow: 1px 2px 2px rgb(0,0,0,.3);
}

.board__row {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	  grid-row-gap: 1px;

}
body {
	background: #343a40
}