.score {
    /* display: flex; */
    width: 100%;
    max-width: 416px;
    justify-content: center;
    margin: 0 auto;
    color: black;
    font-weight: 600;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 10px 0;
    margin-bottom: 1rem;
}
.score__cont {
    display: flex;
}
.score__player {
   
    width: 50%;
    padding: 10px 0;
}
.score__player:first-child {
    border-right: 1px solid #ccc;
    /* background: black */
}
.score__player span {
    color: red
}

.score__title {
    padding-bottom: 10px;
    font-size: 20px
}
