.btn {
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    font-family: arial;
    margin: 0 auto;
    margin-bottom: 1rem
}
.btn--small {
    display: inline-block;
    padding: 10px;

}
.btn--big {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 600;
    width: 416px;
}
.btn--success:hover {
    background-color: rgb(48, 148, 28);
}
.btn--success {
    background-color: rgb(59, 180, 35);
    color: white;

}

.btn--danger {
    background-color: #dc3545!important;
    color: white;
}
.btn--danger:hover {
    background: #c82333;
}